.app {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.fa-node {
  color: rgb(30, 119, 18);
}

.fa-react {
  color: rgb(94, 211, 243);
}

.fa-css3 {
  color: rgb(37, 75, 221);
}

.app > * {
  box-sizing: border-box;
}

div {
  transition: all ease-in-out 0.3s;
}

/*  Hero Section */

/* Projects section */

/* Contact Section Here */

/* Footer Section Here */
.app > .app__footer {
  padding: 80px 10%;
  padding-bottom: 30px;
  background-size: cover;
}

.app > .app__footer > .app__footerContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.app > .app__footer > .app__footerContainer > .iconContainer {
  padding: 10px 10px;
  background: rgb(1, 23, 53);
  color: rgb(4, 139, 168);
  box-shadow: 1px 1px 1.7 rgba(0, 0, 0, 0.2),
    -1px -1px 1.7 rgba(240, 240, 240, 0.4);
}

.app > .app__footer > .app__footerContainer > .iconContainer > a {
  color: rgb(4, 139, 168);
}

.app > .app__footer > .app__footerContainer > .iconContainer > a:hover {
  color: rgb(241, 143, 1);
}

.app > .app__footer > .app__footerDisclaimer {
  font-size: 1.7rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: rgb(165, 100, 1);
}

@media screen and (max-width: 960px) {
  /* Hero Section */
  .app > .app__hero > .app__heroIntro > .app__heroIntroTitle {
    font-size: 3.2rem;
  }

  .app > .app__hero > .app__heroIntro > .app__heroIntroSubtitle {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  /* About section */
  .app > .app__about {
    padding-left: 8%;
    padding-right: 8%;
  }

  .app > .app__about > .app__aboutBody > .app__aboutBodyBio {
    width: 55%;
  }

  .app > .app__about > .app__aboutBody > .app__aboutBodyBio > .bio__title {
    font-size: 2.2rem;
  }

  .app
    > .app__about
    > .app__aboutBody
    > .app__aboutBodyBio
    > .bio__description {
    font-size: 1.45rem;
  }

  .app > .app__about > .app__aboutBody > .app__aboutBodySkills {
    width: 40%;
  }

  /* Project Section */
  .app > .app__projects > .app__projectsWork > .project {
    padding: 10px;
  }

  .app > .app__projects > .app__projectsWork > .project > .project__stack * {
    font-size: 2.3rem;
    width: 33px;
  }

  .app > .app__projects > .app__projectsWork > .project > .projectDescription {
    font-size: 1.45rem;
  }
}

@media screen and (max-width: 768px) {
  /* About Section */
  .app > .app__about > .app__aboutBody {
    flex-direction: column;
  }

  .app > .app__about > .app__aboutBody > .app__aboutBodyBio {
    width: 90% !important;
  }

  .app > .app__about > .app__aboutBody > .app__aboutBodyBio > .bio__title {
    font-size: 2.4rem;
  }

  .app
    > .app__about
    > .app__aboutBody
    > .app__aboutBodyBio
    > .bio__description {
    font-size: 1.8rem;
  }

  .app > .app__about > .app__aboutBody > .app__aboutBodySkills {
    width: 95%;
    margin-top: 30px;
  }

  /* Projects Section Here */
  .app > .app__projects > .app__projectsTiles {
    flex-wrap: wrap;
    gap: 30px;
  }

  .app > .app__projects > .app__projectsWork {
    flex-direction: column;
    align-items: center;
  }

  .app > .app__projects > .app__projectsWork > .project {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px 10px;
  }

  .app > .app__projects > .app__projectsWork > :last-child {
    margin-bottom: 0;
  }

  .app > .app__projects > .app__projectsWork > .project > .projectDescription {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 620px) {
  .app > .app__contact > .app__contactSubtitle {
    font-size: 1.9rem;
  }

  .app > .app__contact > .app__contactForm {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .app > .app__hero > .app__heroIntro > .app__heroIntroTitle {
    font-size: 2.8rem;
  }

  .app > .app__hero > .app__heroIntro > .app__heroIntroSubtitle {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 460px) {
  .app > .app__about {
    padding-left: 5%;
    padding-right: 5%;
  }

  .app > .app__about > .app__aboutBody > .app__aboutBodyBio > .bio__title {
    font-size: 1.9rem;
  }

  .app
    > .app__about
    > .app__aboutBody
    > .app__aboutBodyBio
    > .bio__description {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 430px) {
  .app > .app__hero > .app__heroIntro > .app__heroIntroTitle {
    font-size: 1.85rem;
  }

  .app > .app__hero > .app__heroIntro > .app__heroIntroSubtitle {
    font-size: 1.4rem;
  }

  .app
    > .app__projects
    > .app__projectsWork
    > .project
    > .project__btns
    > .project__btn {
    padding: 8px 10px;
  }
}
